@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: business --default;
}

@theme {
  --font-montserrat: 'Montserrat Alternates', sans-serif;
}
