@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

@import 'tailwindcss';
@plugin "daisyui" {
  themes: business --default;
}

@theme {
  --font-montserrat: 'Montserrat Alternates', sans-serif;

  --animate-fade-in: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
