<div class="shadow-sm card bg-base-100 animate-fade-in">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2
      [routerLink]="['/product', product().slug]"
      class="text-base cursor-pointer card-title font-montserrat text-accent hover:underline"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="justify-end card-actions">
      <a [routerLink]="['/product', product().slug]" class="link link-secondary">See more</a>
    </div>
  </div>
</div>
